<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
<h1>Datos del cliente:</h1>
<form action="/guardar" method="post">
    <%var user%>
    <input name="name"/>
    <input name="id"/>

</form>
</body>
</html>