<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

</body>

<h1>Autenticación en el sistema</h1>

<%
    if (message) {
 %>
    <h4><%=  message %></h4>
<%
    }
%>

<form action="/login" method="post">
    <input name="id" type="text" required placeholder="Username"/>
    <input name="password" type="password" required placeholder="Password"/>
    <input type="submit" value="Enviar"/>
</form>
</html>

