<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página protegida</title>
</head>
<body>
<div> Hola, <%= id %>: ¿Qué tal estás?</div>
<div> ¿Quieres salir del sistema?</div>
<div> <a href="/logout"> Salir </a></div>
</body>
</html>

